
/***** Colors used once *****/
.extra-info-wrapper .topic-link {
    color: #f9f9f9;
}
.extra-info-wrapper .badge-wrapper .badge-category .category-name { /*category neame in header */
    color: #f5f5f5 !important;
}
